<h1>New game</h1>
<div id="letters-divider">
  <% @letters.each do |letter| %>
    <li class="letters"><%= letter.capitalize %></li>
  <% end %>
</div>

<h2>What is the longest word that you can find?</h2>
<form action="/score">
  <input type="text" name="word" placeholder="Please type a word">
  <input type="submit">
</form>
